nb-card::ng-deep {
  .loading-height {
  }
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
  border: unset;
  border-radius: unset;
  nb-spinner ::ng-deep {
    .spin-circle {
      border-top-color: #fa0 !important;
      border-right-color: rgba(0, 0, 0, 0) !important;
      border-bottom-color: #fa0 !important;
      border-left-color: #fa0 !important;
      background-color: white !important;
    }
    background-color: white !important;
    nb-spinner {
      background-color: white !important;
    }
  }
}

nb-card-header::ng-deep {
  border: unset;
  padding-bottom: 0;
}

.loading-status {
  visibility: hidden;
}
