<coin-market-card class="card">
  <coin-market-card-body>
    <a [href]="data.url" target="_blank"> <img class="article-image" alt="article_url" src="{{ data?.imageurl }}" /></a>

    <div class="article-content">
      <div class="article-header">
        {{ data.title }}
      </div>
      <div class="article-text" [innerHTML]="data.body"></div>
      <div class="article-footer">
        <div class="article-footer-source">
          <a [href]="data.url" target="_blank">{{ data.source_info.name }}</a>
        </div>
        <div class="article-footer-date">{{ data.published_on | unixTimestampTime }}</div>
      </div>
    </div>
  </coin-market-card-body>
</coin-market-card>
