@import 'src/app/utils/styles/variables.scss';

.amount {
  font-size: 0.8rem;

  .amount-value {
    font-size: 0.9rem;
  }
}

.shop {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0;
}

.card ::ng-deep {
  nb-card nb-card-body {
    padding: 0;
  }

  nb-card {
    border-radius: 8px;
  }
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    color: black;
  }
}
.card {
  width: 17rem;
  height: 17.2rem;
  margin-bottom: 3rem;
  cursor: pointer;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.04);
  }
}

.article-image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  height: 9rem;
  padding: 0.5rem;
  object-fit: contain;
}

.price {
  font-size: 1.3rem;
  margin-top: 0.3rem;
  color: #6b6b6b;
}

.article {
  &-content {
    height: 8rem;
    padding: 1rem;
    overflow: hidden;
  }

  &-header {
    height: 6.5rem;
    align-self: start;
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-family: $Roboto;
    display: block;
    display: -webkit-box;
    font-size: 1.05rem;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }

  &-link {
    text-decoration: none;
    color: black;
  }

  &-text {
    height: 5rem;
    display: block;
    display: -webkit-box;
    font-size: 1.05rem;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Arial, Helvetica, sans-serif;
  }

  &-footer {
    height: 6.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 1rem;
    font-family: $Roboto;
  }
}

.name-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 6rem;
}
