//
// COLORS
//

$color-primary: #247e8b;
$color-secondary: rgb(133, 133, 133);
$color-success: rgb(61, 204, 109);
$color-info: rgb(208, 208, 208);
$color-warning: rgb(253, 195, 0);
$color-danger: rgb(232, 79, 15);
$button-state-background-color-primary: rgba(0, 163, 224, 0.1);
$button-state-background-color-secondary: rgba(133, 133, 133, 0.1);
$button-state-background-color-success: rgba(61, 204, 109, 0.1);
$button-state-background-color-danger: rgba(232, 79, 15, 0.1);
$button-state-background-color-warning: rgba(253, 195, 0, 0.1);

//
// FONTS
//

$TitilliumWeb: 'Titillium Web';
$NunitoSans: 'Nunito Sans';
$Roboto: 'Roboto';
